.posts
{
margin:30px;
border:1px solid black;
padding:3%;
line-height:30px;
background:#325466;
color:white;
text-align:center;
font-size:17px;
}
.posts:hover
{
cursor:pointer;
}
.padding-3
{
padding:3%;
}
.margin-tb-10
{
margin-top:10px;
margin-bottom:10px;
}
.hideblock
{
display:none;
}
.showblock
{
display:block;
}
.searchcomments
{
margin:30px;
}